body {
    margin: 0;
    padding: 0;
    background-color: #eef0ef;
    background-image: url(https://mediacdn.bellacor.com/images/500/209301MK1111.jpg); /* from google images */
    background-repeat: repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    width: 100%;
    display: grid;
    align-content: center;
}
nav {
    margin: 20px 0;
    padding: 0;
}
nav ul {
    margin: 0;
    padding: 18px;
    list-style-type: none;
    overflow: hidden;
}
nav li {
    float: left;
}
nav li a {
    margin: 10px;
    padding: 20px 50px;
    background-color: rgb(36, 36, 36);    
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
nav li a:hover {
    background-color: rgb(75, 75, 75);
}

#heading {
    margin: 10px;
    background-color: #eef0ef;
    border: solid black 2px;
}
#heading h1 {
    margin: 0;
    padding: 30px 10px;
    background-color: rgb(190, 83, 11);
    color: white;
    font-size: 56px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;
}
#heading h2 {
    margin: 0;
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
}

#view {
    margin: 10px;
    background-color: #eef0ef;
    border: solid black 2px;
}
#view h3 {
    margin: 0;
    padding: 20px 20px 0;
}
#view p {
    margin: 25px;
}
#view li {
    padding: 10px;
    list-style-type: square;
}
#view li a {
    color: rgb(18, 83, 18);
}
#view li a:hover {
    color: rgb(104, 184, 104);
}

#submit-observation {
    padding: 0 20px 20px;
}
#button {
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(41, 41, 41);
    color: white;
}
#button:hover {
    background-color: rgb(25, 94, 25);

}
.input {
    width: 400px;
    padding: 2px;
    margin: 5px 0;
}
#form-error-messages {
    margin: 10px 20px 0;
    color: rgb(192, 31, 31);
    text-align: justify;
    font-size: 16px;
}


/* FOOTER */
footer {
    border: solid black 2px;
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
}
#social {
    grid-column: 1;
    grid-row: 1;
    padding: 20px;
    margin: 10px;
}
#social ul {
    list-style-type: none;
}
#social li {
    margin: 10px;
    border-bottom: rgb(65, 65, 65) solid 2px;
    padding-bottom: 10px;
}
#social-twitter {
    /* icon from https://icons8.com/ */
    list-style-image: url(https://img.icons8.com/color/18/000000/twitter.png);
    list-style-position: inside;
}
#social-facebook {
    /* icon from https://icons8.com/ */
    list-style-image: url(https://img.icons8.com/color/18/000000/facebook-new.png);
    list-style-position: inside;
}
#social-instagram {
    /* icon from https://icons8.com/ */
    list-style-image: url(https://img.icons8.com/color/18/000000/instagram-new.png);
    list-style-position: inside;
}
#social li a {
    text-decoration: none;
}
.footer-tos {
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
    list-style-type: none;
}
.footer-tos li {
    margin: 10px;
    border-bottom: rgb(65, 65, 65) solid 2px;
    padding-bottom: 10px;
}    
.footer-tos li a {
    text-decoration: none;
}

#copyright {
    padding: 20px;
    background-color: black;
    grid-column: 1 / 3;
    grid-row: 2;
    text-align: center;
    margin: 20px 0 0;
}

footer a, #frequent-trees .attribution a {
    color: rgb(240, 145, 101);
}
footer a:hover, #frequent-trees .attribution a:hover {
    color: rgb(230, 197, 175);
}


/* RESPONSIVE DESIGN */

@media screen and (max-width: 1000px) {
    nav li a {
        padding: 24px;
        margin: 5px 10px;
    }
}
@media screen and (max-width: 700px) {
    header {
        justify-content: center;
    }
    nav ul {
        list-style-type: none;
    }
    nav li a {
        display: block;
    }
    .input {
        width: 250px;
        padding: 2px;
        margin: 5px 0;
    }
}
